{% extends 'base.html' %}

{% block head %}
<title>User Search</title>
{% endblock head %}

{% block body %}
<h1 class="display-3">Search Users</h1>
<form method="post">
    <p>
        {{ form.first_name.label }} <br />
        {{ form.first_name(size=30) }}
    </p>
    <p>
        {{ form.surname.label }} <br />
        {{ form.surname(size=30) }}
    </p>
    <p>
        {{ form.age.label }} <br />
        {{ form.age(size=30) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>

<p class="pt-5">{{ message }}</p>

{% endblock body%}
