<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% block head %}{% endblock head %}
</head>
<body>
    <div class="container-fluid bg-secondary" style="height: 100vh; padding-left:50px; padding-right:50px" >
        <div class="jumbotron text-center">
            <h1 class="display-4">Awesome Flask App</h1>
            <p class="lead">A great way to start the day!</p>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-primary">
          <a class="navbar-brand" style="padding-left:30px" href="/">AFA</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              {% if session['user_token'] %}
              <li class="nav-item">
                <a class="nav-link" href="/user_search">Users Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/add_user">User Add</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
        <div class="container-full bg-light" style="height: 100%">
            <div class="container-fluid" style="height: 100vh; padding-left:100px; padding-right:100px" >
                {% block body %}{% endblock body%}
            </div>
        </div>
    </div>
</body>
</html>
