{% extends 'base.html' %}

{% block head %}
<title>Home</title>
<style>
table {
    table-layout:fixed;
    height:20em
}

td {
    vertical-align:middle;
}

a {
    color: black;
    text-align: center;
    vertical-align: middle;
}
</style>
{% endblock head %}

{% block body %}
<div style="text-align: center;">
    <br />
    <br />
    <table class="table table-responsive text-center">
        <tbody>
            <tr>
                <td class="bg-success">
                    <a href="/user_search">
                        Search User Information
                    </a>
                </td>
                <td class="bg-warning">
                    <a href="/data">
                        Search Stored Data
                    </a>
                </td>
            </tr>
            <tr>
                <td  class="bg-danger">
                    <a href="/add_user">
                        Add User
                    </a>
                </td>
                <td  class="bg-info">
                    <a href="/data">
                        Add Data
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock body%}
