{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock head %}

{% block body %}
<h1 class="display-3">Login</h1>
<form method="post">
    <p>
        {{ form.username.label }} <br />
        {{ form.username(size=30) }}
    </p>
    <p>
        {{ form.password.label }} <br />
        {{ form.password(size=30) }}
    </p>
    <p>{{ form.submit() }}</p>
</form>

<p class="pt-5">{{ message }}</p>

{% endblock body%}
